
html {
  font-size: 1.5em;
}
.row-centered {
  text-align:center;
    margin: 0 auto;
}
.col-centered {
  display:inline-block;
  float:none;
  /* reset the text-align */
  text-align:left;
  /* inline-block space fix */
  margin-right:-4px;
}
.accordion-toggle {
  display:block;
}
#logo {
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}


.form{
	padding-left: 20px;
	text-align: justify;
	width: 70%;
	margin: 0px auto;
}




ol, ul .a {list-style-type: circle;}

ol, ul .b {list-style-type: none;}

#fotousuario {
  display:inline-block;
  position: relative;
  float: right;
}
