<% include header %>
<!--
<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Farmautomático</title>
    <link rel="stylesheet" href="css/foundation.css" />
    <script src="js/vendor/modernizr.js"></script>
    <script src="js/vendor/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <link rel="stylesheet" href="css/estilos_personalizados.css" />
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <!-- Include roboto.css to use the Roboto web font, material.css to include the theme and ripples.css to style the ripple effect -->
<form class="" action="especialistaformulario" method="GET">


      <div class="row" id="ListaEspecialistas">
          <div class="form">
			<ul class="a">
				<p>Especialista: <span id="Especialidad">
				<select id="seleccionar-ciudad">
				  <option value="Seleccione">Todos</option>
				  <option value="odontologo">Odontólogo</option>
				  <option value="kinesiologo">Kinesiólogo</option>
				  <option value="cirujano">Cirujano</option>
				</select></span></p>
        <input class="btn btn-primary " type="submit" name="submit" value="Ir">
        </form>

                <dl>
                <li><dt>Javier Quintana</dt></li>
                <dd>Odontólogo</dd>
                <dd>Teléfono: 12345678</dd>
                <dd>Dirección: La casa del lado 9999</dd>
				<br/>
                <li><dt>Rodrigo Peñaloza</dt></li>
                <dd>Kinesiólogo</dd>
                <dd>Teléfono: 87654321</dd>
                <dd>Dirección: A la vuelta de la esquina 6666</dd>
                <br/>
                <li><dt>José de la fuente</dt></li>
                <dd>Odontólogo</dd>
                <dd>Teléfono: 1829394</dd>
                <dd>Dirección: Calle falsa #1234</dd>
                <br/>
                <li><dt>Pedrito por su casa</dt></li>
                <dd>Cirujano</dd>
                <dd>Teléfono: 666999666</dd>
                <dd>Dirección: Otra dirección 4321</dd>
                </dl>
            </ul>
        </div>
        </div>
    </div>

      <br />
      <br />

    <% include PreguntasFrecuentes %>

    <script>
    $(document).ready(function() {
      $.material.init();
    }
    </script>
  </body>
</html>
