
<% include header %>
<!--
<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Farmautomático</title>
    <link rel="stylesheet" href="css/foundation.css" />
    <script src="js/vendor/modernizr.js"></script>
    <script src="js/vendor/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <link rel="stylesheet" href="css/estilos_personalizados.css" />
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <!-- Include roboto.css to use the Roboto web font, material.css to include the theme and ripples.css to style the ripple effect -->
        <link href="css/roboto.min.css" rel="stylesheet">
        <link href="css/material.min.css" rel="stylesheet">
        <link href="css/ripples.min.css" rel="stylesheet">
        <link href="css/estilos_personalizados.css" rel="stylesheet">
  </head>
  <body>
      <div class="row row-centered">
            <img id="logo" src="images/logo.jpg" alt="logo" />
      </div>

      <br />
      <br />
    -->

      <div class="row row-centered">
        <h2>Farmacias</h2>


              <form method="GET" action="farmaciaformulario">
                <label class="inline">Seleccione:</label><br/><br/>
                <input type="radio" name="farmacias" value="todas" id="todas">
                <label for="todas">Todas</label>
                <span data-tooltip aria-haspopup="true" class="has-tip" title="Todas, incluyendo las de turno">
                </span></input><br/><br/>

                <input type="radio" name="farmacias" value="deTurno" id="deTurno"><label for="deTurno">De turno</label> <span data-tooltip aria-haspopup="true" class="has-tip" title="Sólo las de turno, que atienden las 24 horas"></span></input><br/><br/>
                     <select id="sel-marca" class="inline">
                      <option value="Todas">Todas</option>
                      <option value="CruzVerde">Cruz Verde</option>
                      <option value="SalcoBrand">Salco Brand</option>
                      <option value="Ahumada">Ahumada</option>
                     <option value="DrSimi">Sr Simi</option>
                    </select> <span data-tooltip aria-haspopup="true" class="has-tip" title="Todas es por defecto"></span><br/><br/>

				<input class="btn btn-primary" type=submit id="farmacias-submit" value="Ir" />
        <div class="row row-centered" id="ListaFarmacias">

          </div>
              </form>
    </div>


      <br />
      <br />

    <% include PreguntasFrecuentes %>
    <script>
      $.material.init();
    </script>
      <script>
      function getListafarmacias() {
        var elem = document.getElementById("sel-marca"),
        selectedNode = elem.options[elem.selectedIndex];
        var cadenaTodas = '<div class="medium-offset-2 small-10 colums">' +
                '<ol>' +
                '<dl>' +
                '<li><dt>Cruz Verde</dt></li>' +
                '<dd>Dirección: Calle falsa 1234</dd>' +
                '<dd>Teléfono: 12345678</dd>' +
                '<li><dt>Salco Brand</dt></li>' +
                '<dd>Dirección: La esquina del otro lado</dd>' +
                '<dd>Teléfono: 87654321</dd>' +
                '<li><dt>Cruz Verde</dt></li>' +
                '<dd>Dirección: Rodelillo 4444</dd>' +
                '<dd>Teléfono: 1829394</dd>' +
                '</dl>' +
            '</ol>' +
        '</div>';
          var cadenadeTurno = '<div class="medium-offset-2 small-10 colums">' +
                '<ol>' +
                '<dl>' +
                '<li><dt>Cruz Verde</dt></li>' +
                '<dd>Dirección: Calle uno 1321</dd>' +
                '<dd>Teléfono: 12345678</dd>' +
                '<li><dt>Ahumada</dt></li>' +
                '<dd>Dirección: Alameda 2234</dd>' +
                '<dd>Teléfono: 87654321</dd>' +
                '</dl>' +
            '</ol>' +
        '</div>';

        if (document.getElementById('todas').checked) {

            document.getElementById("ListaFarmacias").innerHTML = cadenaTodas;

        }
        else if (document.getElementById('deTurno').checked) {
              document.getElementById("ListaFarmacias").innerHTML = cadenadeTurno;

        }
        return false;

      }

      </script>
  </body>
</html>
