<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%-title %></title>

    <link rel="stylesheet" href="/public/css/foundation.css" />
    <link rel="stylesheet" href="/public/css/typeahead.css" />
    <script src="/public/js/vendor/modernizr.js"></script>

    <script src="/public/js/foundation.min.js"></script>
    <script src="/public/js/typeahead.bundle.js"></script>
    <script src="/public/js/vendor/jquery.js"></script>




    <link rel="stylesheet" href="/public/css/estilos_personalizados_antiguo.css" />
  </head>
  <body>
    <div class="row">
        <div class="small-12 large-centered colums">
            <h1 align="center"><%-title %></h1>
        </div>
    </div>
