<% include header %>
<!--
<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Farmautomático</title>
    <link rel="stylesheet" href="css/foundation.css" />
    <script src="js/vendor/modernizr.js"></script>
    <script src="js/vendor/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <link rel="stylesheet" href="css/estilos_personalizados.css" />
  </head>
  <body>
    <div class="row">
        <div class="small-12 large-centered colums">
            <h1 align="center">Farmautomático</h1>
        </div>

    </div>-->
      <br />
      <br />
    <div class="row">
      <div class="large-12">
        <form action="login" method="post">
          <input type="text" name="nombreusuario" value="nombre" placeholder="minombre">
          <input type="password" name="contrasena" value="contrasena" placeholder="hola">
          <input type="submit" name="submitlogin" value="submit">
        </form>

      </div>
    </div>


    <div class="row">
      <div class="large-offset-8 large-4 medium-offset-6 medium-6 small-12 columns">
        <a href="PreguntasFrecuentes" class="button">Preguntas Frecuentes</a>
      </div>

 </body>
</html>
