<% include header %>
<!--
<html>
    <meta charset="utf-8">
    <head>
        <link href="css/bootstrap.min.css" rel="stylesheet">

        <link href="css/roboto.min.css" rel="stylesheet">
        <link href="css/material.min.css" rel="stylesheet">
        <link href="css/ripples.min.css" rel="stylesheet">
        <link href="css/estilos_personalizados.css" rel="stylesheet">
    </head>

    <body>
      <br>
      <br>
      <div class="row row-centered">
        <div class="col-xs-12 col-centered">
          <img id="logo" src="images/logo.jpg" alt="logo" />
        </div>
      </div>
    -->
      <br>
      <br>
      <form action="login" method="post">
        <input name="remedio" type="hidden" value=<%=nombre_remedio%> >
      <div class="container">
        <div class="col-xs-0 col-sm-0 col-md-4 col-centered"></div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-centered">
			  <div class="row">
				<div class="col-xs-12 col-sm-12">
				  <label for="right-label" class="control-label">Nombre de Usuario:</label>
				  <input class="form-control" name="nombreusuario" type="text" id="usuario">


				</div>
				<div class="col-xs-12 col-sm-12">
				  <label  for="right-label" class="control-label">Contraseña:</label>
				  <input class="form-control" name="password"  type="password" id="password">
				</div>
				<div class="col-xs-12 col-sm-12">
				  <input class="btn btn-primary pull-right" name="submit" type="submit" id="especialista-submit" value="Ingresar"><i class="fa fa-lock"></i></input>
          <input class="btn btn-primary" id="Registrarse" name="submit" type=submit value="Registrarse"/>
          <input class="btn btn-primary" id="Salir" name="submit" type=submit value="Salir"/>

				</div>
			  </div>
        </div>
        <div class="col-xs-0 col-sm-0 col-md-4 col-centered"></div>
      </div>
    </form>
<% include PreguntasFrecuentes %>

        <script>
        $(document).ready(function() {
          $.material.init();
        }
        </script>

    </body>

</html>
